<mat-nav-list>
  <div class="profile-card">
    <div class="header">
      <h2>Hubert Foyang</h2>
      <h4>example@email.com</h4>
    </div>
    <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Soufiane FADIL">
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Pages</h2>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Home</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/products">Products</a>
</mat-nav-list>
