table {
  width: 97%;
  margin-right: 1em;
  margin-left: 1em;
}
.container h1{
  text-align: center;
  font-size: xxx-large;
  margin-top: 1em;
  margin-bottom: 1em;
}
.container button{
  margin-left: 1em;
  margin-bottom: 1em;
}
