<div class="container">
    User Name : <label>
    <input type="text" name="username" [(ngModel)]="username">
  </label>
    Password : <label>
    <input type="password" name="password" [(ngModel)]="password">
  </label>
  <button (click)=checkLogin() class="btn btn-success">
    Login
  </button>
</div>
