<div class="content-container">
  <mat-icon id="close-icon" (click)="onClose()">close</mat-icon>
  <span class="content-span full-width"></span>
</div>

<h1 mat-dialog-title>{{productService.form.controls['id'].value?"Modifier un Mandat":"Nouvelle Mandat"}} </h1>

<form [formGroup]="productService.form" class="normal-form" (submit)="onSubmit()">
  <mat-grid-list cols="1" rowHeight="27em">
    <mat-grid-tile>
      <div class="controles-container">
        <input type="hidden" formControlName="id">

        <mat-form-field>
          <input type="text" formControlName="name" placeholder="Nom*" matInput>
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="text" formControlName="type" placeholder="Type*" matInput>
          <mat-error>Ce champ est requis</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input type="number" formControlName="price" placeholder="Price" matInput>
        </mat-form-field>

        <div class="button-row">
          <button mat-raised-button color="primary" type="submit" [disabled]="productService.form.invalid">Enregistrer</button>
          <button mat-raised-button color="warn" type="submit" (click)="onClean()">Annuler</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
