/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.notification-success{
  background-color: #5cb85c;
  color: #fff;
  font-size: 18px !important;
  font-weight: bold;
}
.notification-error{
  background-color: #f44336;
  color: #fff;
  font-size: 18px !important;
  font-weight: bold;
}
